* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  background-color: #fcfcfc;
  font-family: 'Aleo', serif;
}

nav {
  text-align: center;
  margin: 15px 0;
  color: #24346C;
}

nav h1 {
  font-size: 2em;
  color: #24346C;
}

nav span {
  margin: 0 4px;
}

nav h1, nav span {
  cursor: pointer;
}

nav #op1 {
  font-weight: bold;
}

section {
  width: 100%;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

section .projecte {
  width: 40vh;
  height: 40vh;
  background-color: grey;
  margin: 10px;
  cursor: pointer;
  background-color: #24346C;
  overflow: hidden;
}

section div img {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section div img:hover {
  -webkit-animation: biggerImg 0.5s;
          animation: biggerImg 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes biggerImg {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.5;
  }
}

@keyframes biggerImg {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.5;
  }
}

section .content {
  width: 80%;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

section .content .text {
  width: 25%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 10%;
}

@media screen and (max-width: 600px) {
  section .content .text {
    width: 90%;
    margin: 5%;
  }
}

section .content .text h2 {
  margin-bottom: 20px;
}

section .content .imgs {
  width: 65%;
}

@media screen and (max-width: 600px) {
  section .content .imgs {
    width: 100%;
  }
}

section .content .imgs #main {
  background-image: url("https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

section .content .imgs .roll {
  margin: 1em auto;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  height: 25vh;
}

section .content .imgs .insideRoll {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 3% 0 0;
  background-image: url("https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
/*# sourceMappingURL=css.css.map */